<head>
	<script type="text/javascript" src="shared/js/angular.min.js"></script>
	<script type="text/javascript" src="/shared/js/jquery-2.1.1.min.js"></script>
	
	<script type="text/javascript" src="/shared/js/pdf.compat.js"></script>
	<script type="text/javascript" src="/shared/js/ng-pdfviewer.js"></script>
	<script type="text/javascript" src="/shared/js/pdf.js"></script>
	<script type="text/javascript" src='/shared/js/pdf.worker.js'></script>

	<script data-main="scripts/main" src="scripts/require.js"></script>


<link href="/content/style/bootstrap.min.css" rel="stylesheet"></link>
<link href="/content/style/bootstrap-theme.min.css" rel="stylesheet"></link>
<link rel="stylesheet" href="/content/style/style.css">


</head>
<body>
	<div id="main-container">
		<a href="#index-pdfs">index-pdfs</a>
		<a href="#search-documents">search-documents</a>
		<div ng-view class="view-animate"></div>
	</div>

	<div id="test-container">
		<ul>
			<li>{{batida}}</li>
		</ul>
	</div>
</body>