<div class="panel panel-primary" ng-controller="pdfCtrl">
			<div class="panel-heading">No te haga ve?!</div>
			
			<div class="row">
				<div class="col-md-2">
					<tabset vertical="true" type="pills">
						<tab class="animate" heading={{file.fileName}} ng-repeat="file in files" ng-click="changePdf(file)"></tab>
					</tabset>
				</div>
				
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-4">
							<pdfviewer src="{{currentPdf}}" on-page-load='pageLoaded(page,total)' id="viewer"></pdfviewer>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2 col-md-offset-4">
							<button ng-click="prevPage()">&lt;</button>
							<button ng-click="nextPage()">&gt;</button>
						</div>
					</div>
				</div>

				<div class="col-xs-2">
					<form role="form">
					  <div class="form-group">
					    <label for="clientName">Client Name</label>
					    <input type="text" ng-model="clientName" class="form-control" id="clientName" placeholder="Enter client name">
					  	<label for="category">Category</label>
					    <div class="btn-group" dropdown is-open="status.isopen">
					      <button type="button" class="btn btn-primary dropdown-toggle">
					        {{selectedCategory}} <span class="caret"></span>
					      </button>
					      <ul class="dropdown-menu" role="menu">
					        <li ng-repeat="category in categories" ng-click="selectCategory(category)">{{category}}</li>
					      </ul>
					    </div>
					  </div>
					  <div class="checkbox">
					    <label>
					      <input type="checkbox"> Check me out
					    </label>
					  </div>
					  <button type="button" class="btn btn-default" ng-click="saveFileInfo()">Submit</button>
					</form>
				</div>
			</div>

			<div>
				<button ng-click="prevPage()">&lt;</button>
				<button ng-click="nextPage()">&gt;</button>
				<br>
				{{currentPage}}/{{totalPages}}
				<pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" num-pages="totalPages" ng-change="pageChanged()"></pagination>
				<br>
			</div>
		</div>