<div>
	<form class="form-search"> 
    <div class="input-append">
      <input type="text" ng-model="search" class="search-query" style="width: 80px">
      <button type="submit" class="btn">Search</button>
    </div>
    <div class="nav nav-pills nav-stacked">
      <ul class="row animate" ng-repeat="file in indexedFiles | filter:search">
        <li><a class="col-md-1" href="">{{file.fileName}}</a>
        <a class="col-md-1" href="">{{file.creationDate}}</a>
        </li>
      </ul> 
    </div>
    </form>
</div>